<div class="card">
    <div class="upper-row">
      <div class="card-item">
        <span>Balance</span>
        <span><span class="dollar">&#8369;</span>&nbsp;1,804.00</span>
      </div>
    </div>
    <div class="lower-row">
      <div class="icon-item">
        <div class="icon"><i class="pi pi-download"></i></div>
        <div class="icon-text">Top-up</div>
      </div>
      <div class="icon-item">
        <div class="icon"><i class="pi pi-money-bill"></i></div>
        <div class="icon-text">Withdraw</div>
      </div>
      <div class="icon-item">
        <div class="icon"><i class="pi pi-send"></i></div>
        <div class="icon-text">Send</div>
      </div>
      <div class="icon-item">
        <div class="icon"><i class="pi pi-wallet"></i></div>
        <div class="icon-text">Pay</div>
      </div>
    </div>
  </div>