<div>
  <div class="appHeader no-border transparent position-absolute">
    <div class="left">
      <a href="#" class="headerButton goBack"> </a>
    </div>
    <div class="pageTitle"></div>
    <div class="right"></div>
  </div>

  <div id="appCapsule">
    <div class="section mt-2 text-center">
      <h1>Log in</h1>
      <h4>Log in to your NoCash account</h4>
    </div>
    <div class="section mb-5 p-2">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-body pb-1">
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="email1">Mobile Number</label>
                <input
                  type="text"
                  formControlName="mobileNumber"
                  class="form-control"
                  placeholder="Your mobile number"
                  required
                  minlength="11"
                  maxlength="13"
                />
                <div
            *ngIf="
              loginForm.controls['mobileNumber'].invalid &&
              (loginForm.controls['mobileNumber'].dirty ||
                loginForm.controls['mobileNumber'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="loginForm.controls['mobileNumber'].errors?.['required']"
            >
              Mobile Number is required.
            </div>
            <div
              class="text-danger"
              *ngIf="loginForm.controls['mobileNumber'].errors?.['minlength']"
            >
            Mobile Number must be at least 11 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="loginForm.controls['mobileNumber'].errors?.['maxlength']"
            >
            Mobile Number must only have 13 digits.
            </div>
            <div
              class="text-danger"
              *ngIf="loginForm.controls['mobileNumber'].errors?.['pattern']"
            >
            Invalid mobile number format.
            </div>
          </div>
                <i class="clear-input"> </i>
              </div>
            </div>

            <div class="form-group basic">
              <div class="input-wrapper">
                <label>PIN</label>
                <input
                  type="password"
                  formControlName="pin"
                  class="form-control"
                  placeholder="Your PIN"
                  required
                  minlength="4"
                  maxlength="4"
                />
                <div
            *ngIf="
              loginForm.controls['pin'].invalid &&
              (loginForm.controls['pin'].dirty ||
                loginForm.controls['pin'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="loginForm.controls['pin'].errors?.['required']"
            >
              PIN is required.
            </div>
            <div
              class="text-danger"
              *ngIf="loginForm.controls['pin'].errors?.['minlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="loginForm.controls['pin'].errors?.['maxlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="loginForm.controls['pin'].errors?.['pattern']"
            >
            PIN must be a 4 digit numeric combination.
            </div>
          </div>
                <i class="clear-input"> </i>
              </div>
            </div>
          </div>
        </div>

        <div class="form-links mt-2">
          <div>
            <a [routerLink]="['/register']">Register Now</a>
          </div>
          <div>
            <a [routerLink]="['/forgot-password']" class="text-muted"
              >Forgot Password?</a
            >
          </div>
        </div>

        <div class="form-button-group transparent">
          <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!loginForm.valid">
            Log in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
