
<div>
  <!-- App Capsule -->
  <div id="appCapsuleCard">
    <div class="section mt-2">

      <!-- card block -->
      <div class="card-block mb-2" [style.background]="card.color">
        <div class="card-main">
          <div class="card-button dropdown">
            <a
              type="button"
              (click)="deleteCard(card)"
              class="btn btn-link btn-icon"
              data-bs-toggle="modal"
              data-bs-target="#DialogIconedButton"
            >
              <i class="pi pi-ellipsis-h"></i>
          </a>
            <!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')"><i class="pi pi-ellipsis-h"></i></button> -->
          </div>
          <div class="balance">
            <span class="label">NAME</span>
            <h1 class="title">
                {{card.name}}
            </h1>
          </div>
          <div class="in">
            <div class="card-number">
              <span class="label">Card Number</span>
              {{ card.accountNumber }}
            </div>
            <div class="bottom">
              <div class="card-expiry">
                <span class="label">Expiry</span>
                {{ card.expiryDate }}
              </div>
              <div class="card-ccv">
                <span class="label">CCV</span>
                {{ card.cvv }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- * card block -->

    </div>
  </div>
  <!-- * App Capsule -->
</div>
