<div class="appHeader">
  <div class="left">
    <i (click)="goBack()" class="pi pi-angle-left headerButton"></i>
  </div>
  <div class="pageTitle">Add a New Card</div>
  <div class="right"></div>
</div>

<div id="appCapsule">
  <div class="section mt-2">
    <div class="section-title">Enter your card details.</div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="cardForm" (ngSubmit)="createCard()">
          <!-- Card Name -->
          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="name">Card Name</label>
              <input
                class="form-control"
                type="text"
                id="name"
                formControlName="name"
                placeholder="Enter a name for your card."
                required
              />
            </div>
            <div
              *ngIf="
                cardForm.controls['name'].invalid &&
                (cardForm.controls['name'].dirty ||
                  cardForm.controls['name'].touched)
              "
            >
              <div
                class="text-danger"
                *ngIf="cardForm.controls['name'].errors?.['required']"
              >
                Please enter a card name
              </div>
            </div>
          </div>
          <!-- Card Name -->

          <!-- Card Number -->
          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="accountNumber"
                >Card Number
                <small class="text-muted" *ngIf="type$ | async as type"
                  >[<span class="cc-brand">{{ type }}</span
                  >]</small
                >
              </label>
              <div class="input-group">
                <input
                  (input)="goToNextField('accountNumber', cvv)"
                  type="tel"
                  id="accountNumber"
                  formControlName="accountNumber"
                  class="form-control"
                  placeholder="XXXX-XXXX-XXXX-XXXX"
                  required
                  minlength="16"
                  maxlength="16"
                  ccNumber
                />
                <i
                  class="pi pi-times-circle"
                  *ngIf="
                    cardForm.controls['accountNumber'].value &&
                    (cardForm.controls['accountNumber'].dirty ||
                      cardForm.controls['accountNumber'].touched)
                  "
                  (click)="resetAccountNumber()"
                  style="margin-top: 10px"
                ></i>
              </div>

              <div
                *ngIf="
                  cardForm.controls['accountNumber'].invalid &&
                  (cardForm.controls['accountNumber'].dirty ||
                    cardForm.controls['accountNumber'].touched)
                "
              >
                <div
                  class="text-danger"
                  *ngIf="cardForm.controls['accountNumber'].errors?.['required']"
                >
                  Card number is required.
                </div>
                <div
                  *ngIf="
                    !cardForm.controls['accountNumber'].valid &&
                    cardForm.controls['accountNumber'].dirty
                  "
                  class="text-danger"
                >
                  Credit Card is invalid
                </div>
              </div>
            </div>
          </div>
          <!-- Card Number -->

          <!-- CVV -->
          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="cvv">CVV</label>
              <input
                (input)="goToNextField('cvv', expDate)"
                class="form-control"
                #cvv
                type="text"
                id="cvv"
                formControlName="cvv"
                placeholder="Enter your 3-digit CVV."
                required
                minlength="3"
                maxlength="3"
              />
            </div>
          </div>
          <div
            *ngIf="
              cardForm.controls['cvv'].invalid &&
              (cardForm.controls['cvv'].dirty ||
                cardForm.controls['cvv'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="cardForm.controls['cvv'].errors?.['required']"
            >
              CVV is required.
            </div>
            <div
              class="text-danger"
              *ngIf="cardForm.controls['cvv'].errors?.['minlength']"
            >
              CVV must be 3 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="cardForm.controls['cvv'].errors?.['maxlength']"
            >
              CVV must be 3 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="cardForm.controls['cvv'].errors?.['pattern']"
            >
              CVV must be 3 digit numeric combination.
            </div>
          </div>
          <!-- CVV -->

          <div class="form-group basic">
            <div class="input-wrapper">
              <label class="label" for="expiryDate">Expiry Date</label>
              <div class="input-group">
                <input
                  class="form-control"
                  #expDate
                  type="tel"
                  id="cc-exp"
                  formControlName="expiryDate"
                  placeholder="Ex: 06/33"
                  autocomplete="cc-exp"
                  required
                  ccExp
                />
              </div>
              <div
                *ngIf="
                  cardForm.controls['expiryDate'].invalid &&
                  (cardForm.controls['expiryDate'].dirty ||
                    cardForm.controls['expiryDate'].touched)
                "
              >
                <div
                  class="text-danger"
                  *ngIf="cardForm.controls['expiryDate'].errors?.['pattern']"
                >
                  Invalid date format
                </div>

                <div
                  class="text-danger"
                  *ngIf="cardForm.controls['expiryDate'].errors?.['required']"
                >
                  Expiry date is required.
                </div>
              </div>

              <div
                class="text-danger"
                *ngIf="cardForm.controls['expiryDate'].errors?.['notExpired'] && cardForm.controls['expiryDate'].invalid &&
            cardForm.get('expiryDate')?.value"
              >
                Card is expired
              </div>
            </div>
          </div>

          <div class="form-group basic mt-2">
            <button
              type="submit"
              class="btn btn-primary btn-block btn-lg"
              [disabled]="!cardForm.valid"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="appBottomMenu">
  <a href="index.html" class="item">
    <div class="col">
      <i class="pi pi-chart-pie"></i>
      <strong>Overview</strong>
    </div>
  </a>
  <a href="app-pages.html" class="item">
    <div class="col">
      <i class="pi pi-book"></i>
      <strong>Pages</strong>
    </div>
  </a>
  <a routerLinkActive="item" routerLink="/app/cards" class="item">
    <div class="col">
      <i class="pi pi-credit-card"></i>
      <strong>My Cards</strong>
    </div>
  </a>
  <a href="app-settings.html" class="item">
    <div class="col">
      <i class="pi pi-cog"></i>
      <strong>Settings</strong>
    </div>
  </a>
</div>
