<div>
    <!-- App Header -->
    <div class="appHeader no-border transparent position-absolute">
      <div class="left">
          <i class="headerButton pi pi-arrow-left" (click)="goBack()"></i>
      </div>
      <div class="pageTitle"></div>
    </div>
  
    <div id="appCapsule">
      <div class="section mt-2 text-center">
        <h1>Account Reactivation</h1>
        <h4>Recover your NoCash Account</h4>
        <h5>Account must be locked to request a reactivation</h5>
      </div>
      <div class="section mb-5 p-2">
        <form [formGroup]="requestPasswordResetForm" (ngSubmit)="requestPasswordReset()" *ngIf="currentPage == 'main'">
          <div class="card">
            <div class="card-body">
              
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label>Email Address</label>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Your e-mail address"
                  />
                  <div
            *ngIf="
            requestPasswordResetForm.controls['email'].invalid &&
              (requestPasswordResetForm.controls['email'].dirty ||
              requestPasswordResetForm.controls['email'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="requestPasswordResetForm.controls['email'].errors?.['required']"
            >
              Email Address is required.
            </div>
            <div
              class="text-danger"
              *ngIf="requestPasswordResetForm.controls['email'].errors?.['pattern']"
            >
            Email Address must follow correct email formats.
            </div>
          </div>
                </div>
              </div>
  
              <div class="form-button-group transparent">
                <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!requestPasswordResetForm.valid">
                  Request Reactivation
                </button>
              </div>

            </div>
          </div>
        </form>

        <form [formGroup]="verificationCodeForm" (ngSubmit)="showPinResetForm()" *ngIf="currentPage == 'code-form'">
          <div class="card">
            <div class="card-body">
              
              <div class="form-group basic">
                <div class="input-wrapper">
                  <label>Code</label>
                  <input
                    type="text"
                    formControlName="code"
                    class="form-control"
                    placeholder="OTP"
                    required
                  />
                  <div
            *ngIf="
            verificationCodeForm.controls['code'].invalid &&
              (verificationCodeForm.controls['code'].dirty ||
              verificationCodeForm.controls['code'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="verificationCodeForm.controls['code'].errors?.['required']"
            >
              OTP is required.
            </div>
          </div>
                </div>
                <!-- <div *ngIf="rpr['email'].errors" class="invalid-feedback">
                  <div *ngIf="rpr['email'].errors['required']">Email is required</div>
                  <div *ngIf="rpr['email'].errors['email']">Email must be a valid email address</div>
                </div>
                {{rpr['email'].errors | json}} -->
              </div>

              <p>if you didnt receive the OTP, you can <a (click)="requestPasswordReset()">retry here</a></p>
  
              <div class="form-button-group transparent">
                <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!verificationCodeForm.valid">
                  New Pin
                </button>
              </div>

            </div>
          </div>
        </form>

        <form [formGroup]="pinResetForm" (ngSubmit)="resetPin()" *ngIf="currentPage == 'pin-reset-form'">
            <div class="card">
              <div class="card-body">
  
                <div class="form-group basic">
                    <div class="input-wrapper">
                    <label>PIN</label>
                    <input
                        type="password"
                        formControlName="newPin"
                        class="form-control"
                        placeholder="Your new PIN"
                        required
                        minlength="4"
                        maxlength="4"
                    />
                    <div
            *ngIf="
            pinResetForm.controls['newPin'].invalid &&
              (pinResetForm.controls['newPin'].dirty ||
              pinResetForm.controls['newPin'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['newPin'].errors?.['required']"
            >
              PIN is required.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['newPin'].errors?.['minlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['newPin'].errors?.['maxlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['newPin'].errors?.['pattern']"
            >
            PIN must be a 4 digit numeric combination.
            </div>
          </div>
                    </div>
                </div>

                <div class="form-group basic">
                    <div class="input-wrapper">
                    <label>Confirm PIN</label>
                    <input
                        type="password"
                        formControlName="confirmPin"
                        class="form-control"
                        placeholder="Please retype your PIN"
                    />
                    <div
            *ngIf="
            pinResetForm.controls['confirmPin'].invalid &&
              (pinResetForm.controls['confirmPin'].dirty ||
              pinResetForm.controls['confirmPin'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['required']"
            >
              PIN is required.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['minlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['maxlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['pattern']"
            >
            PIN must be a 4 digit numeric combination.
            </div>
          </div>
                    </div>
                </div>
  
    
                <div class="form-button-group transparent">
                  <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!pinResetForm.valid">
                    Reset Pin
                  </button>
                </div>
  
              </div>
            </div>
          </form>

          <div *ngIf="currentPage == 'success-page'">
            <h2>Your account has been reactivated.</h2>
          </div>

      </div>
    </div>
  </div>
  