<div class="section mt-2 jon">
    <div class="transactions">
        <div class="jon">
            <div class="item">
                <div class="detail">
                    <div class="in">
                        <div (click)="previousMonth()">
                            <i class="headerButton pi pi-arrow-left"></i>
                        </div>

                    </div>
                </div>
                <div>
                    {{monthYear}}
                </div>
                <div class="right" (click)="nextMonth()">
                    <div class="text-end">
                        <i class="headerButton pi pi-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
