<div class="modal fade dialogbox show" id="DialogIconedDanger" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-modal="true" style="display: block; border-color: black; border: 5px;" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-color: black; border: 5px;">
                    <div class="modal-icon text-danger">
                        <i class="pi pi-times-circle"></i>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                    </div>
                    <div class="modal-body">
                        {{errorMessage}}
                    </div>
                    <div class="modal-footer">
                        <div class="btn-inline">
                            <a (click)="dialog.closeAll()"class="btn" data-bs-dismiss="modal">CLOSE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
