<div style="padding-bottom: 50px;">
    <div class="appHeader">
        <div class="left">
             <i class="headerButton pi pi-arrow-left" (click)="goBack()"></i>
        </div>
        <div class="pageTitle">
            Transaction
        </div>
    </div>
 
 </div>

    <div class="section mt-2">
        <div class="transactions">
            <div *ngFor="let transaction of transactionList">
                <!-- <li> -->
                    <app-transaction-card [transaction]="transaction"></app-transaction-card>
                <!-- </li> -->
            </div>
        </div>

    </div>

