<div style="padding-bottom: 60px;">
    <div class="appHeader">
      <div class="left">
          <i class=" headerButton pi pi-arrow-left" (click)="goBack()"></i>
      </div>
      <div class="pageTitle">Top Up</div>
    </div>
  </div>
    <div class="section mt-2">
      <div class="section-title">Enter the required details below.</div>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="topUpForm" (ngSubmit)="sendBalance()">
            <!-- Card Name -->
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="balance">Amount</label>
                <input
                  class="form-control"
                  type="number"
                  id="balance"
                  formControlName="balance"
                  placeholder="Enter desired amount to be added to your account."
                  required
                />
                <div class="text-danger" *ngIf="topUpForm.controls['balance'].errors?.['negative']">
                    Amount cannot be negative.
                  </div>
                  <div class="text-danger" *ngIf="topUpForm.controls['balance'].errors?.['overLimit']">
                    Amount exceeds the limit.
                  </div>
              </div>
            </div>
            <!-- Balance -->
  
            <!-- PIN -->
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="pin">PIN</label>
                <div class="input-group">
                  <input
                    type="password"
                    id="pin"
                    formControlName="pin"
                    class="form-control"
                    placeholder="Enter your PIN."
                    required
                    minlength="4"
                    maxlength="4"
                  />
                  <i
                    class="pi pi-times-circle"
                    *ngIf="
                      topUpForm.controls['pin'].value &&
                      (topUpForm.controls['pin'].dirty ||
                        topUpForm.controls['pin'].touched)
                    "
                    style="margin-top: 10px"
                  ></i>
                </div>
  
                <div
                  *ngIf="
                    topUpForm.controls['pin'].invalid &&
                    (topUpForm.controls['pin'].dirty ||
                      topUpForm.controls['pin'].touched)
                  "
                >
                  <div
                    class="text-danger"
                    *ngIf="topUpForm.controls['pin'].errors?.['required']"
                  >
                    PIN is required.
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="topUpForm.controls['pin'].errors?.['minlength']"
                  >
                    PIN must be 4 characters long.
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="topUpForm.controls['pin'].errors?.['maxlength']"
                  >
                    PIN must be 4 characters long.
                  </div>
                </div>
              </div>
            </div>
  
            <!-- PIN -->
            <div class="form-group basic mt-2">
              <button
                type="submit"
                class="btn btn-primary btn-block btn-lg"
                [disabled]="!topUpForm.valid"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>