<div>
    <!-- App Header -->
    <div class="appHeader no-border transparent position-absolute">
      <div class="left">
          <i class="headerButton pi pi-arrow-left" (click)="goBack()"></i>
      </div>
      <div class="pageTitle"></div>
    </div>
  
    <div id="appCapsule">
      <div class="section mt-2 text-center">
        <h1>Update PIN</h1>
      </div>
      <div class="section mb-5 p-2">
        <form [formGroup]="pinResetForm" (ngSubmit)="resetPin()">
            <div class="card">
              <div class="card-body">

                <div class="form-group basic">
                    <div class="input-wrapper">
                    <label>Current PIN</label>
                    <input
                        type="password"
                        formControlName="oldPin"
                        class="form-control"
                        placeholder="Your current PIN"
                        required
                        minlength="4"
                        maxlength="4"
                    />
                    <div
            *ngIf="
            pinResetForm.controls['oldPin'].invalid &&
              (pinResetForm.controls['oldPin'].dirty ||
              pinResetForm.controls['oldPin'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['oldPin'].errors?.['required']"
            >
              PIN is required.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['oldPin'].errors?.['minlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['oldPin'].errors?.['maxlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['oldPin'].errors?.['pattern']"
            >
            PIN must be a 4 digit numeric combination.
            </div>
          </div>
                    </div>
                </div>
  
                <div class="form-group basic">
                    <div class="input-wrapper">
                    <label>PIN</label>
                    <input
                        type="password"
                        formControlName="newPin"
                        class="form-control"
                        placeholder="Your new PIN"
                        required
                        minlength="4"
                        maxlength="4"
                    />
                    <div
            *ngIf="
            pinResetForm.controls['newPin'].invalid &&
              (pinResetForm.controls['newPin'].dirty ||
              pinResetForm.controls['newPin'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['newPin'].errors?.['required']"
            >
              PIN is required.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['newPin'].errors?.['minlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['newPin'].errors?.['maxlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['newPin'].errors?.['pattern']"
            >
            PIN must be a 4 digit numeric combination.
            </div>
          </div>
                    </div>
                </div>

                <div class="form-group basic">
                    <div class="input-wrapper">
                    <label>Confirm PIN</label>
                    <input
                        type="password"
                        formControlName="confirmPin"
                        class="form-control"
                        placeholder="Please retype your new PIN"
                        required
                        minlength="4"
                        maxlength="4"
                    />
                    <div
            *ngIf="
            pinResetForm.controls['confirmPin'].invalid &&
              (pinResetForm.controls['confirmPin'].dirty ||
              pinResetForm.controls['confirmPin'].touched)
            "
          >
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['required']"
            >
              PIN is required.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['minlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['maxlength']"
            >
            PIN must be 4 digits long.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['pattern']"
            >
            PIN must be a 4 digit numeric combination.
            </div>
            <div
              class="text-danger"
              *ngIf="pinResetForm.controls['confirmPin'].errors?.['mustMatch']"
            >
            PIN must match.
            </div>
          </div>
                    </div>
                </div>
  
    
                <div class="form-button-group transparent">
                  <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!pinResetForm.valid">
                    Reset Pin
                  </button>
                </div>
  
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
  