@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

.header {
    height: 30%;
    background-color: #2ECC71;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .header::before{
    content:"";
    height: 200px;
    width: 200px;
    background-color: #2CC16B;
    border-radius: 50%;
    position:absolute;
    top: -60px;
    left: -100px;
    z-index: 2;
  }
  
  .header::after {
    content:"";
    height: 100px;
    width: 100px;
    background-color: #2CC16B;
    border-radius: 50%;
    position:absolute;
    right: -20px;
    bottom: -30px;
    z-index: 2;
  
  }
  
  .header-summary {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 3;
  }
  
  .summary-text {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
  
  .summary-balance {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.8rem;
    
  }
  
  .summary-text-2 {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  .user-profile {
    margin-top: 4rem;
    height: 70px;
    width: 70px;
    align-self: flex-start;
  }
  
  .user-photo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
  }
