.transactions {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: relative;
    margin-top: 1.5rem;
    flex-direction: column;
  }
  
  .t-desc {
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .transaction {
    cursor: default;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 10px rgba(0,0,0,0.0);
    border-radius: 12px;
    margin-bottom:20px;
  }
  
  .t-details {
    width: 55%;
  }
  
  .t-icon-container {
    width: 45px;
    align-self: flex-start;
  }
  
  .t-icon {
    width: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
  }
  
  .t-title {
    text-align: left;
    flex-grow: 1;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .t-time {
    font-size: 0.6rem;
    opacity: 0.6;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .t-amount {
    font-size: 0.6rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #06D778;
  }
  
  .transaction:hover {
      box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  }

  .user-photo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
  }

  .red {
    color: #F4532D;
  }