<div class="transactions"><span class="t-desc">Recent Transactions</span>
    <div class="transaction">
        <div class="t-icon-container"><img src="https://play-lh.googleusercontent.com/hLH2YWJEdUlO8xb1ST2JUhundp1vSsMPVTaFUT57wOaiFzxGuEJwa6snSlkwjtKRUxlF"
            class="t-icon">
        </div>
        <div class="t-details">
            <div class="t-title">Lazada</div>
            <div class="t-time">03:45PM</div>
        </div>
        <div class="t-amount red">-&nbsp;&#8369;293.00
        </div>
    </div>
</div>