<div>
  <!-- App Header -->
  <div class="appHeader">
    <div class="left">
        <i class="headerButton pi pi-arrow-left" (click)="goBack()"></i>
    </div>
    <div class="pageTitle">Settings</div>
  </div>
  <!-- * App Header -->

  <!-- App Capsule -->
  <div id="appCapsule">
    <div class="section mt-3 text-center">
      <div class="avatar-section">
        <a href="#">
          <img
            src="assets/img/sample/avatar/user.jpg"
            alt="avatar"
            class="imaged w100 rounded"
          />
        </a>
      </div>
    </div>

    <div class="listview-title mt-1">Profile Settings</div>
    <ul class="listview image-listview text inset">
      <li>
        <a routerLinkActive="active" routerLink="/app/pin-reset" class="item">
          <div class="in">
            <div>Change PIN</div>
          </div>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/app/authentication-history" class="item">
          <div class="in">
            <div>Authentication History</div>
          </div>
        </a>
      </li>
      <li>
        <a (click)="logout()"               
        class="item"
        data-bs-toggle="modal"
        data-bs-target="#DialogIconedButton">
          <div class="in">
            <div>Log out</div>
          </div>
        </a>
      </li>
      <!-- * App Capsule -->

      <!-- App Bottom Menu -->
      <div class="appBottomMenu">
        <a routerLinkActive="active" routerLink="/app/home" class="item">
          <div class="col">
            <i class="pi pi-chart-pie"></i>
            <strong>Overview</strong>
          </div>
        </a>
        <a href="app-pages.html" class="item">
          <div class="col">
            <i class="pi pi-book"></i>
            <strong>Pages</strong>
          </div>
        </a>
        <a routerLinkActive="active" routerLink="/app/cards" class="item">
          <div class="col">
            <i class="pi pi-credit-card"></i>
            <strong>My Cards</strong>
          </div>
        </a>
        <a routerLinkActive="active" routerLink="/app/settings" class="item active">
          <div class="col">
            <i class="pi pi-cog"></i>
            <strong>Settings</strong>
          </div>
        </a>
      </div>
    </ul>
  </div>
</div>
