<div>
    <div class="appHeader">
        <div class="left">
            <a href="#" class="headerButton goBack">
            </a>
        </div>
        <div class="pageTitle">
            Transactions
        </div>
    </div>
<div id="appCapsule">
<div class="section mt-2">
            <div >
                <div>
                    <a href="app-transaction-detail.html" class="item">
                        <div class="detail">
                            <img src="{{merchant.imagePath}}" alt="img" class="image-block imaged w48">
                            <div>
                                <strong>{{merchant.name}}</strong>
                                <p>{{merchant.merchantId}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
