<div style="padding-bottom: 60px">
  <div class="appHeader">
    <div class="left">
      <i class="headerButton pi pi-arrow-left" (click)="goBack()"></i>
    </div>
    <div class="pageTitle">Pay Bill</div>
  </div>
</div>
<app-merchant [merchant]="merchant"></app-merchant>
<div class="section mt-2">
  <div class="section-title">Enter payment details.</div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="billPaymentForm" (ngSubmit)="payBill()">
        <!-- Card Name -->
        <div class="form-group basic">
          <div class="input-wrapper">
            <label class="label" for="accountNumber">Account Number</label>
            <input
              class="form-control"
              type="number"
              id="accountNumber"
              formControlName="accountNumber"
              placeholder="Enter account number."
              required
            />
            <div
              *ngIf="
                billPaymentForm.controls['accountNumber'].invalid &&
                (billPaymentForm.controls['accountNumber'].dirty ||
                  billPaymentForm.controls['accountNumber'].touched)
              "
            >
              <div
                class="text-danger"
                *ngIf="billPaymentForm.controls['amount'].errors?.['required']"
              >
                Account number is required.
              </div>
            </div>
          </div>
        </div>
        <!-- Balance -->

        <!-- Amount -->
        <div class="form-group basic">
          <div class="input-wrapper">
            <label class="label" for="amount">Amount</label>
            <input
              class="form-control"
              type="number"
              id="amount"
              formControlName="amount"
              placeholder="Enter amount."
              required
            />
            <div
              *ngIf="
                billPaymentForm.controls['amount'].invalid &&
                (billPaymentForm.controls['amount'].dirty ||
                  billPaymentForm.controls['amount'].touched)
              "
            >
              <div
                class="text-danger"
                *ngIf="billPaymentForm.controls['amount'].errors?.['required']"
              >
                Amount is required.
              </div>
              <div
                class="text-danger"
                *ngIf="billPaymentForm.controls['amount'].errors?.['negative']"
              >
                Amount cannot be negative.
              </div>
            </div>
          </div>
        </div>
        <!-- Amount -->

        <!-- PIN -->
        <div class="form-group basic">
          <div class="input-wrapper">
            <label class="label" for="pin">PIN</label>
            <div class="input-group">
              <input
                type="password"
                id="pin"
                formControlName="pin"
                class="form-control"
                placeholder="Enter your PIN."
                required
                minlength="4"
                maxlength="4"
              />
            </div>

            <div
              *ngIf="
                billPaymentForm.controls['pin'].invalid &&
                (billPaymentForm.controls['pin'].dirty ||
                  billPaymentForm.controls['pin'].touched)
              "
            >
              <div
                class="text-danger"
                *ngIf="billPaymentForm.controls['pin'].errors?.['required']"
              >
                PIN is required.
              </div>
              <div
                class="text-danger"
                *ngIf="billPaymentForm.controls['pin'].errors?.['minlength']"
              >
                PIN must be 4 characters long.
              </div>
              <div
                class="text-danger"
                *ngIf="billPaymentForm.controls['pin'].errors?.['maxlength']"
              >
                PIN must be 4 characters long.
              </div>
              <div
                    class="text-danger"
                    *ngIf="billPaymentForm.controls['pin'].errors?.['pattern']"
                  >
                  PIN must be a 4 digit numeric combination.
                  </div>
            </div>
          </div>
        </div>

        <!-- PIN -->
        <div class="form-group basic mt-2">
          <button
            type="submit"
            class="btn btn-primary btn-block btn-lg"
            [disabled]="!billPaymentForm.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
